html,
body {
  margin: 0;
  padding: 0;
}

.container {
  width: 700px;
  height: 700px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 2fr) 400px;
  /* grid-template-columns: repeat(3, 1fr) repeat(6, 3fr); */
}

.item {
  background-color: #72bd50;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item:nth-child(even) {
  background-color: #ffdcdc;
}
