html,
body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

.container {
  width: 80%;
  /* height: 100px; */
  margin: 50px auto;
  display: grid;
  grid-template-columns: 0.5fr 100px 20%;
  grid-template-rows: 1fr 50px 200px; /* hanya setinggi konten karena tidak diberikan tinggi atau height*/
}

.item {
  background-color: rgb(138, 209, 254);
  display: flex;
  justify-content: center;
  align-items: center;
}

.item:nth-child(even) {
  background-color: salmon;
}
