* {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  height: 420px;
  border: 1px solid black;
  margin: 50px auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
}

.items {
  background-color: aliceblue;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
